


/* Styling the div image */
.image{
    font-style: italic;
}
/* styling the form */
form{
    width: 500px;
    color: blue;
    font-size: large;
}
input{
    width: 100%;
    font-size: large;
}
p{
    font-size: large;
    font-weight: bold;
    color: blue;
    margin-left: 5px;
    text-align: center;
}
#Newname{
    color: crimson;
    font-style: italic;
    border: 5px solid cadetblue;
    background-color: cornflowerblue;
}
.jumbotron{
    background-color: blue;
    color: darkgray;
    font-style: italic;
    font-size: larger;
}

.card-title h2{
    text-align: center;
    color: white;
    background-color: blue;
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
    padding: 7px;
}
.card-body{
    background-color: lightblue;
    
}